div {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.card--row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
